.services-ticker-block {
    position: relative;
    display:flex; 
    align-items:center;
    overflow: hidden;
  }
  
  .stb_line_single {
    position: relative;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
  }
  .stb-item {
    padding: 0;
    font-size: 6.4rem;
    display: inline-block;
    margin-right: 10rem;
  
  }
  .stb-item:hover {
      color: #C02534;
  }